body {
    margin: 0;
    font-family: Arial, sans-serif;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.hero {
    background: #018790;
    color: white;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: white;
    color: #00b7b5;
    cursor: pointer;
    font-size: 16px;
}

.features {
    background: #00b7b5;
    text-align: center;
}
.features div {
    margin: 10px 0;
}

.about {
    background: #f4f4f4;
}

footer {
    background: #222;
    color: white;
    padding: 10px;
    text-align: center;
}
